<div class="container">
  <form [formGroup]="themeForm" (submit)="savePage()" novalidate>
    <div class="form-group row">
      <div class="col-md-12">
        <label>Page Title</label>
        <input type="text" formControlName="themePageTitle" class="form-control input-sm" required [(ngModel)]="themePageTitle">
      </div>
    </div>
    <div formArrayName="itemRows" dnd-sortable-container [sortableData]="themeForm.controls.itemRows.controls">
      <div class="page-template-container" *ngFor="let itemrow of themeForm.controls.itemRows.controls; let i=index;" 
      dnd-sortable [sortableIndex]="i"
      [formGroupName]="i">
        <h5>
          <span class="delete pull-right control-group">
              <fa name="minus-circle" *ngIf="themeForm.controls.itemRows.controls.length > 1" (click)="removeRow(i)"></fa>
            </span>
        </h5>
        <div class="row row-container-header">
          <div class="col-md-12">
            <div class="row itemrow">
              <div class="col-md-12">
                <quill-editor formControlName="themePageRow" [options]="editorOptions" [style]="{'height':'200px'}" 
                class="quileditor" (ready)="onEditorCreated($event, i)" (click)="invokeEditor($event, i)"></quill-editor>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-md-10 pull-right control-group">
            <span class="add"><fa name="plus-circle" (click)="addMore(i)"></fa></span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="themePageTitle.pristine" class="btn btn-success">Preview</button>
  </form>
</div>
<!-- <div class="container" *ngIf="themePreview" style="overflow:auto; margin:0 auto;">
  <div class="row col-md-1 offset-md-11">
    <fa name="close" (click)="closePreview()"></fa>
  </div>
  <div class="row" *ngFor="let previewData of themePagePreviewData; let k=index;">
      <div class="col-md-12" innerHtml="{{ previewData.themePageRow }}"></div>
  </div>
</div> -->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" *ngFor="let previewData of themePagePreviewData; let k=index;">
                <div class="col-md-12" innerHtml="{{ previewData.themePageRow }}"></div>
            </div>
        </div>
      </div>
    </div>
  </div>